{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <script src="static/libraries/p5.js"></script>
    <script src="static/libraries/p5.dom.js"></script>
    <script src="static/js/single.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
    <div class="container">
    <h1>Let's play a game!</h1>
    </div>

    <div id="canvasHolder" align="center"></div>

    <div class="container">
        <p id="p1">Player 1: </p>
        <p id="p2">Player 2: </p>
        <p id="game_id">Game: </p>
        <button onclick="resign()">Resign</button> 
    </div>
{% endblock %}