{% extends "bootstrap/base.html" %}

{% block head %}
{{super()}}

<script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        console.log("JQuery ready.")
        namespace = '/test';
        var socket = io(namespace);

        // Server response channel (Logger).
        socket.on('server_response', function(msg) {
            // Log the server response.
            $('#log').append('<br>' + $('<div/>').text('Received:' + msg.data).html());
        });

        // Player joins the waiting room. client -> server
        $('form#join_waiting_room').submit(function(event) {
            socket.emit('join', {room: 'waiting_room'});
            console.log("Joined the waiting room.")
            return false;
        });

        // Show players which joined the waiting room server -> client
        socket.on("joined_waiting_room", function(msg) {
           $('#waiting').append('<br>' + $('<div/>').text(msg).html());
        });

        socket.on("update_waiting_room", function(msg) {
            console.log(msg.clients_in_waiting)

            // Create for loop and seperate div for each client Here.
            for (let i=0; i < msg.clients_in_waiting.length; i++) {
                $('#waiting').empty().append('<br>' + $('<div/>').text(msg.clients_in_waiting[i]));
            }
        });

        // Redirects
        socket.on('redirect', function (data) {
            console.log("Redirecting.")
            window.location = data.url;
        });

        // Join Room
        socket.on('join_room', function (data) {
            $('#log').append('<br>' + $('<div/>').text('Some people joined some rooms').html());
            let game_id = data["game_id"]
            let uid = data["uid"]
            // request server to really add me to the room.
            socket.emit('join_room', {'game_id' : game_id, 'uid': uid})
            //set value
            localStorage.setItem('game_id', game_id);
            localStorage.setItem('uid', uid);
        });
    });
</script>

{%- endblock %}

{% block navbar %}
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Game Of Amazons</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href={{ url_for('index') }}>Home</a></li>
      <li><a href={{ url_for('index') }}>Multiplayer</a></li>
      <li><a href={{ url_for('index') }}>Play on this screen</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href={{ url_for('index') }}><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href={{ url_for('index') }}><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block title %}Game Of Amazons{% endblock %}

{% import "bootstrap/fixes.html" as fixes %}

{% block styles -%}
    {{super()}}  {# do not forget to call super or Bootstrap's own stylesheets
                    will disappear! #}
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='goa.css')}}">
{% endblock %}