{% extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block title %}Game{% endblock %}

{% block head %}
  {{ super() }}
  <script src="static/libraries/p5.js"></script>
  <script src="static/libraries/p5.dom.js"></script>
  <script src="static/js/sketch.js"></script>
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Let's play a game!</h1>
  </div>

  <div id="canvasHolder" align="center">

  </div>

  <div class="container">
      <div>
          <h1>Flask-SocketIO Test</h1>

          <h2>Receive:</h2>
          <div id="log"></div>

          <h2>Player in waiting room:</h2>
          <div id="waiting"></div>
      </div>
  </div>
{% endblock %}